{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [ "last 2 versions" ]
        }
      }
    ]
  ],
  "plugins": [
    [ "styled-components" ],
    [ "transform-class-properties" ],
    [ "transform-object-rest-spread" ],
    [ "lodash" ]
  ]
}
